/*
 * @Author: xujie 1607526161@qq.com
 * @Date: 2023-02-04 18:46:39
 * @LastEditors: xujie 1607526161@qq.com
 * @FilePath: \vue-ts\src\assets\CSS\base.scss
 * @Description: 自定义的格式化 CSS 文件
 */
body{
  padding: 0;
  margin: 0;
}

html, body, #app {
  height: 100%;
  width: 100%;
}
