/* 方便开发和调试的 SCSS 文件 */
.outline {
  outline: 1px solid red;
}

.text-omit {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.font-14-color-6 {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

.font-16-color-9 {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
